
h1 {
    font-size: 1.5rem;
}


.sidenav {
  width: 132px;
  background-color: #252525;
  padding: 0rem;
  height: 100vh;
  box-sizing: border-box;
}


.main-format {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: flex-start;
    box-sizing: border-box;
}

.main-cv {
    flex-grow: 1;
    padding: 1.5rem;
    box-sizing: border-box;
}



@media (max-width: 768px) {
  .main-format {
    flex-direction: column;
  }

  .sidenav {
    width: 100%;
    height: auto;
  }

  .main-cv {
    padding: 1rem;
  }
}
