html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(230, 225, 225);
}

body {
    font-family: serif;
}